# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb
*.sh

# Distribution / packaging
dist/
build/
*.egg-info/

# Secrets / Environment variables
.env*
secrets.yaml
config.ini

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/

*.png
*.scr
learning_curves_relabel_demos*/
all_relabelings*/
logs*/
models/
plots*/
old_plots*/
relabelings/
test_relabelings/
tokenizers/
experiments/models/
experiments/tokenizers/
sentence_info/
bootstrap_results/
experiments/icl_configs*
experiments/run_icl_slurm*
experiments/generate_icl_configs*
experiments/analysis_ICL.py
experiments/compute_capacity.py
experiments/plot_accuracy.py
bootstrap.sh
src/LLMGeometry/gcmc.py
src/LLMGeometry/prompt_tuning.py
src/LLMGeometry/results_aggregation.py
run_all_relabelings.sh
learning_curves/
logs/
logits/
relabelings/